body {
  font-family: 'Work Sans', Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1;
}

textarea{
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}
.datetime{
  padding: 15px 10px;
  width: 360px;
  color:wheat;
  background-color: #000000;
  border:3px solid #FF7A63;
  border-radius: 5px;
  margin: 0 auto;

}
.datetime:hover{
  background: #275244;

}
.date{
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  letter-spacing: 3px;
}

.time{
  font-size: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.time span:not(:last-child){
  position: relative;
  margin: 0 6px;
  font-weight: 600;
  text-align: center;
  letter-spacing: 3px;
}

.time span:last-child{
  background: rebeccapurple;
  font-size: 30px;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 10px;
  padding: 0 5px;
  border-radius: 3px;
}

.description{
  white-space: pre-wrap;
}

.display {
  font-family: 'Cardo', Garamond, 'Times New Roman', serif;
  font-weight: bolder;
  text-transform: uppercase;
}

.time-block{
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;;
}

.hour {
  background-color:bisque;
  color: blue;
  border-top: 1px dashed #275244;
  border-top-left-radius: 9px;
  border-bottom-left-radius: 9px;
  text-align: end;
  text-decoration-line: underline;
  font-size: large;
}

.past {
  background-color: goldenrod;
  color: #275244;
  font-style: italic;
  text-transform: capitalize;
}

.present {
  background-color: #FF7A63;
  color: white;
  text-transform: uppercase;
}

.future {
  background-color: greenyellow;
  color: rgb(110, 78, 78);
  text-transform: capitalize;
}

.saveBtn {
  border-left: 2px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color:aquamarine;
  color: orangered;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
}

.red {
  background-color: red;

}